<html>
  <head>
    <title>Регистрация</title>
    <style>
      body { font-family: Arial, sans-serif; } p { font-weight: bold;
      font-style: italic; } a { color: #007bff; text-decoration: none;
      font-weight: bold; } a:hover { text-decoration: underline; }
    </style>
  </head>
  <body>
    <p>Для завершения регистрации, перейдите по
      <a
        href='http://localhost:4444/api/auth/register/{{registerLink}}/confirm'
      >ссылке</a>.</p>
  </body>
</html>